<!DOCTYPE html>
<html>
<head>
  <title>Vehicle Display</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body style="padding: 0;margin: 0;box-sizing: border-box;">
  <div id="display-container"></div>
  <script src="/js/main.js"></script>
</body>
</html>
